<p>
  {{singleHero.id}}
</p>
<b>{{singleHero.name}}</b>


<div *ngFor="let hero of heros">
  {{hero.id}} -- {{hero.name}}
</div>

<input type="text" [(appNumberFormat)]="customVal" />

<button (click)="logValue()">Value</button>
<br /> Custom Value: {{customVal}}


<div appTabOrder>
  <input type="text" appTabOrderItem value="1" tabOrderIndex="1" tabOrderGroup="First" tabOrderItemBlur="tabOrderItemBlur($event)" />
  <input type="text" appTabOrderItem value="2" tabOrderIndex="2" tabOrderGroup="First" tabOrderItemBlur="tabOrderItemBlur($event)" />
  <input type="text" appTabOrderItem value="3" tabOrderIndex="3" tabOrderGroup="First" tabOrderItemBlur="tabOrderItemBlur($event)" /> 
</div>