<p>
  {{singleHero.id}}
</p>
<b>{{singleHero.name}}</b>

<form>
  <div *ngFor="let hero of heros">
    {{hero.id}} -- {{hero.name}}
  </div>

  <input type="text" [(appNumberFormat)]="customVal" [decimalUpTo]="0" />

  <button (click)="logValue()">Value</button>
  <br /> Custom Value: {{customVal}}


  <div>
    <input type="text" appTabOrderItem value="1.1" [tabOrderGroup]="'First'" [tabOrderIndex]="1" isGroupMinIndex="true" />
    <input type="text" appTabOrderItem value="2.1" [tabOrderGroup]="'second'" [tabOrderIndex]="1" isGroupMinIndex="true" />
    <input type="text" appTabOrderItem value="1.2" [tabOrderGroup]="'First'" [tabOrderIndex]="2" />
    <input type="text" appTabOrderItem value="2.2" [tabOrderGroup]="'second'" [tabOrderIndex]="2" />
    <input type="text" appTabOrderItem value="1.3" [tabOrderGroup]="'First'" [tabOrderIndex]="3" />
    <input type="text" appTabOrderItem value="2.3" [tabOrderGroup]="'second'" [tabOrderIndex]="3" />
    <input type="text" appTabOrderItem value="1.4" [tabOrderGroup]="'First'" [tabOrderIndex]="4" isGroupMaxIndex="true" />
    <input type="text" appTabOrderItem value="2.4" [tabOrderGroup]="'second'" [tabOrderIndex]="4" isGroupMaxIndex="true" />
  </div>
</form>
